body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    margin-left: 450px;
    margin-top: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-top: 20px;
}
ul li a{
    
    text-decoration: none;
    padding: 0 15px;
    color: white;
}
nav{
    width: 100%;
}

.top-banner{
    margin: 0;
    height: 600px;
    width: 100%;
    background-image:url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.slider h1{
font-size: 50px;
color: white;

}
.slider p{
    color: whitesmoke;
}
.slider{
    text-align: center;
    width: 700px;
    height: 400px;
    padding-left: 330px;
    padding-top: 100px;
}
.link-button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 30px;
    color: white;
    font-weight:700;
    border-radius: 5px;
    cursor: pointer;
}
.full-width{
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 100px;
}
.color{
    color: #707070;
}
.h1-size{
    font-size: 50px;
}
.container{
    display: flex;
    margin-bottom: 50px;
    margin-left: 60px;
}
.box {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:#FAFAFA;
    justify-content: center;
    align-items: center;
    color: rgb(102, 96, 96);
    font-weight:900;
    display: flex;
  }

  #unique-box{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:#FFEEEE;
    justify-content: center;
    align-items: center;
    color: #FF5959;
    font-weight:900;
    display: flex;
    border: 2px solid tomato;
  }

  .donate-plan{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
  }
  .plan-details{
    text-align: center;
  }
  .icon-box{
    display: flex;
   
  }
  #icon-1{
    height: 230px;
    width: 300px;
    background-color: #EDF5F6;
    margin: 5px;
    padding: 50px 20px 0;
    border-radius: 5px;
  }
  #icon-2{
    height: 230px;
    width: 300px;
    background-color: #FFEEEE;
    margin: 5px;
    padding: 50px 20px 0;
    border-radius: 5px;

  }
  #icon-3{
    height: 230px;
    width: 300px;
    background-color: #FFF4D6;
    margin: 5px;
    padding: 50px 20px 0;
    border-radius: 5px;

  }
  .donation{
    display: flex;
    width: 80%;
    margin-top: 100px;
    margin-left: 5%;
    padding-left: 2%;

    
}

.donation img{
    width: 100%;
}

.donation-fullwidth{
    height: 500px;
}
.donation-halfwidth{
    width: 60%;
    margin-top: 20px;
    margin-left: 50px;
}
.extra-margin{
    margin-left: 50px;
}

.donation-2{
    display: flex;
    width: 80%;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.donation-halfwidth-2{
    width: 60%;
    margin-top: 20px;
    margin-left: 100px;
}
.counter{
    display: flex;
    width: 100%;
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
}
.counter-box{
    text-align: center;
    margin:10px;
}

.contact-form{
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}
.form-makeup{
    height: 80px;
    background-color: #FFF4D6;
    margin-left: 250px;
    text-align: center;
    padding-top: 80px;
}
.form-title{
    text-align: center;
    margin-left: 280px;
}
.form-title h2{
    font-size: 30px;
}
#button{
    border: none;
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 30px;
    color: white;
    font-weight:700;
    border-radius: 5px;
    cursor: pointer;
}
#input{
    background-color: #D9D9D9;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
}
footer{
    height: 150px;
    width: 100%;
    background-color: #0B0D17;
    text-align: center;
    padding-top: 20px;
}
footer h1{
    color: #FF5959;
    font-size: 35px;
}
footer p{
    color: #D9DBE1;
}